.logger {
	display: none;
	background-color: #3F51B5;
	width: 400px;
	border: 1px solid #000;
	color: white;
}

.logger_footer {
	bottom: 0;
}

.logger_footer li {
	width: 50%;
    clear: both;
	padding: 10px 0;
}

.logger_footer ul {
	display: -webkit-box;
	text-align: center;
}

.logger_footer ul li:hover {
	background-color: rgba(0, 0, 0, 0.40);
	cursor: pointer;
}

ul {
	list-style: none;
	width: 100%;
    margin: 0;
    padding: 0;
}